.modal {
    position: fixed;
    top: 30vh;
    left: 9%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
}

.content {
    padding: 1rem;
}

.header {
    background-color: #4f005f;
    padding: 1rem;
}

.header h2 {
    margin: 0;
    color: white;
}

.actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}