.form-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.form-control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #cccccc;
    width: 20rem;
    max-width: 100%;
}