.button {
  padding: 0.25rem 1rem;
  border: 1px solid #4f005f;
  background: #4f005f;
  color: white;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}
